<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PBI Main: {{ pbi.name }}</title>
</head>
<body>
    <div>
        <h1>Project: {{ project.name }}</h1>
        <h2>PBI: {{ pbi.name }}</h2>
    </div>

    <div>
        <p><b>Description: </b>{{ pbi.description }}</p>
        <p><b>Status: </b>{{ pbi.status }}</p>
        <p><b>Estimated: </b>{{ pbi.estimated }}</p>
        <p><b>Priority: </b>{{ pbi.priority }}</p>
        <p><b>Sprint Number: </b>{{ pbi.sprintNumber }}</p>
    </div>

    <div>
        <form>
            <input type="button" value="Add PBI" onclick="location='add'">
            <input type="button" value="Modify" onclick="location='{{ modify }}'">
            <input type="button" value="Delete" onclick="location='{{ delete }}'">
            <input type="button" value="Back" onclick="location='{{ back }}'">
        </form>
    </div>

</body>
</html>