<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/productBacklog.css' %}">
    <meta charset="UTF-8">
    <title>PBI Add</title>
</head>
<body>
    <div class="page-header">
        <h1><a href="../..">BackTrack</a></h1>
        <h2><a href="../..">Project: {{ project.name }}</a>&#160;&#160;&#160;PBI: Add</h2>
    </div>

    <div class="menu">
        <ul>
            <li><a href="../../..">My project</a></li>
            <li><a href="../..">{{ project.name }}</a></li>
            <li><a href="..">Product Backlog</a></li>
            <li><a href="../../sprintBacklog">Sprint Backlog</a></li>
            <li><a class="active" href="">PBI</a></li>
            <li style="float:right"><a href="">User</a></li>
        </ul>
    </div>

    <div class="main">
        <div>
            <br/>
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Add</button>
                <input type="button" value="Back" onclick="history.back()">
            </form>
        </div>
    </div>
</body>
</html>