<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/productBacklog.css' %}">
    <meta charset="UTF-8">
    <title>PBI Main: {{ pbi.name }}</title>
</head>
<body>
    <div class="page-header">
        <h1><a href="../..">Project: {{ project.name }}</a></h1>
        <h2>PBI: {{ pbi.name }}</h2>
    </div>

    <div class="table">
        <table border="0">
            <tr>
                <td><b>Description:</b></td>
                <td>{{ pbi.description }}</td>
            </tr>
            <tr>
                <td><b>Status:</b></td>
                <td>{{ pbi.status }}</td>
            </tr>
            <tr>
                <td><b>Estimated:</b></td>
                <td>{{ pbi.estimated }}</td>
            </tr>
            <tr>
                <td><b>Priority:</b></td>
                <td>{{ pbi.priority }}</td>
            </tr>
            <tr>
                <td><b>Sprint Number:</b></td>
                <td>{{ pbi.sprintNumber }}</td>
            </tr>
        </table>
    </div>

    <div>
        <form>
            <input type="button" value="Add PBI" onclick="location='add'">
            <input type="button" value="Modify" onclick="location='{{ modify }}'">
            <input type="button" value="Delete" onclick="location='{{ delete }}'">
            <input type="button" value="Back" onclick="location='{{ back }}'">
        </form>
    </div>

</body>
</html>