<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/productBacklog.css' %}">
    <meta charset="UTF-8">
    <title>
        {% if is_exist %}
        {{ project.name }}: Manager Join
        {% else %}
        Error
        {% endif %}
    </title>
</head>
<body>
    {% if user.is_authenticated %}
        <div class="page-header">
            <h1>BackTrack</h1>
            <h2>
                {% if is_exist %}
                {{ project.name }}: Manager Join
                {% else %}
                Error
                {% endif %}
            </h2>
        </div>

        <div class="menu">
            <ul>
                <li><a href="/project">My project</a></li>
                <li><a href="/accounts/profile">User: {{ user.get_username }}</a></li>
                <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
            </ul>
        </div>

        <div class="main" style="text-align:center;">
            {% if is_exist %}
                {% if is_self %}
                    {% if is_available %}
                        {% if group == 'Manager' or group == 'Super User' %}
                            <p style="font-size:20px;">Are you sure you want to join {{ project.name }}?</p>
                                <div style="text-align:center;">
                                    <form>
                                        <input type="button" value="Confirm" onclick="location='join'">
                                    </form>
                                </div>
                        {% else %}
                            <p style="font-size:20px;">Error. You are not a manager.</p>
                        {% endif %}
                    {% else %}
                        <p style="font-size:20px;">Error. The project already has a manager.</p>
                    {% endif %}
                {% else %}
                    <p style="font-size:20px;">Account is not correct.</p>
                    <p style="font-size:20px;">Please log in the invited account and open this link again to join the project.</p>
                {% endif %}
            {% else %}
                <p style="font-size:20px;">Error. Project doesn't exist. Maybe finished already.</p>
            {% endif %}

            <div style="text-align:center;">
                <form>
                    <input type="button" value="Back to main" onclick="location='/project'">
                </form>
            </div>
        </div>

    {% else %}
        <div class="page-header">
            <h1>BackTrack</h1>
            <h2>Error: Not Logged in</h2>
        </div>
        <div style="text-align:center; margin:0 auto; padding: 20px 20px 20px 40px;">
            <p>Please login first. <a href="{% url 'login'%}">Click here.</a> </p>
        </div>
    {% endif %}

</body>
</html>