<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/productBacklog.css' %}">
    <meta charset="UTF-8">
    <title>Projects: {{ project.name }} Developer Invite</title>
</head>
<body>
    {% if user.is_authenticated %}
        <div class="page-header">
            <h1>BackTrack</h1>
            <h2>Project: {{ project.name }} Developer Invite</h2>
        </div>

        <div class="menu">
            <ul>
                <li><a href="/project">My project</a></li>
                <li><a class="active" href="/project/{{ project.pk }}">{{ project.name }}</a></li>
                <li><a href="/project/{{ project.pk }}/productBacklog">Product Backlog</a></li>
                <li><a href="/project/{{ project.pk }}/sprintBacklog">Sprint Backlog</a></li>
                <li><a href="/accounts/profile">User: {{ user.get_username }}</a></li>
                <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
            </ul>
        </div>

        <div class="main">
            <div style="text-align:center;">
                    <p style="font-family: 'Lobster', cursive; font-size: 15pt;">Developer List</p>
            </div>
            <div class="table" style="text-align:center; margin:0 auto;">
                <table border="1" style="margin:0 auto;">
                    <tr>
                        <th width="10%"><b>User Name</b></th>
                        <th width="10%"><b>First Name</b></th>
                        <th width="10%"><b>Last Name</b></th>
                        <th width="10%"><b>Email Address</b></th>
                        <th width="10%"><b>Send email</b></th>
                    </tr>
                    {% for developer in developer_list %}
                        <tr>
                            <td>{{ developer.get_username }}</td>
                            <td>{{ developer.first_name }}</td>
                            <td>{{ developer.last_name }}</td>
                            <td>{{ developer.email }}</td>
                            {% if group == 'Owner' or group == 'Super User' %}
                                <td><a href="../{{ developer.pk }}/email">Invite</a></td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <br/>
            <div style="text-align:center;">
                <input type="button" value="Back" onclick="location='/project'">
            </div>
        </div>

    {% else %}
        <div class="page-header">
            <h1>BackTrack</h1>
            <h2>Error: Not Logged in</h2>
        </div>
        <div style="text-align:center; margin:0 auto; padding: 20px 20px 20px 40px;">
            <p>Please login first. <a href="{% url 'login'%}">Click here.</a> </p>
        </div>
    {% endif %}

</body>
</html>