<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/productBacklog.css' %}">
    <meta charset="UTF-8">
    <title>Task Finish: {{ task.name }}</title>
</head>
<body>
    {% if user.is_authenticated %}
        <div class="page-header">
            <h1>BackTrack</h1>
            <h2>Finish:   {{ pbi.name }}   {{ task.name }}</h2>
        </div>

        <div class="menu">
            <ul>
                <li><a href="/project">My project</a></li>
                <li><a href="/project/{{ project.pk }}">{{ project.name }}</a></li>
                <li><a href="../../../../../../productBacklog">Product Backlog</a></li>
                <li><a href="../../../../../../sprintBacklog">Sprint Backlog</a></li>
                <li><a href="../../../../{{ pbi.pk }}">PBI</a></li>
                <li><a class="active" href="../../{{ task.pk }}">Task</a></li>
                <li><a href="/accounts/profile">User: {{ user.get_username }}</a></li>
                <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
            </ul>
        </div>

        <div class="main" style="text-align:center;">
            <p style="font-size:20px;">Are you sure you want to finish {{ task.name }}?</p>
            {% if task.owner %}
                <p style="font-size:20px;">The current owner is {{ task.owner.first_name }} {{ task.owner.last_name }}.</p>
                <p style="font-size:20px;">You can contact him/her via {{ task.owner.email }}</p>
            {% else %}
                <p style="font-size:20px;">The task currently has no owner.</p>
            {% endif%}

            <div style="text-align:center;">
                <form>
                    <input type="button" value="Confirm" onclick="location='../finish'">
                    <input type="button" value="Back" onclick="location='/project/{{ project.pk }}/sprintBacklog/pbi/{{ pbi.pk }}/task/{{ task.pk }}'">
                </form>
            </div>
        </div>

    {% else %}
        <div class="page-header">
            <h1>BackTrack</h1>
            <h2>Error: Not Logged in</h2>
        </div>
        <div style="text-align:center; margin:0 auto; padding: 20px 20px 20px 40px;">
            <p>Please login first. <a href="{% url 'login'%}">Click here.</a> </p>
        </div>
    {% endif %}

</body>
</html>