<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/productBacklog.css' %}">
    <meta charset="UTF-8">
    <title>Task Main: {{ task.name }}</title>
</head>
<body>
    {% if user.is_authenticated %}
        <div class="page-header">
            <h1>BackTrack</h1>
            <h2>Project: {{ project.name }}   {{ pbi.name }}   {{ task.name }}</h2>
        </div>

        <div class="menu">
            <ul>
                <li><a href="../../../../..">My project</a></li>
                <li><a href="../../../..">{{ project.name }}</a></li>
                <li><a href="../../../../productBacklog">Product Backlog</a></li>
                <li><a href="../../../">Sprint Backlog</a></li>
                <li><a href="../../{{ pbi.pk }}">PBI</a></li>
                <li><a class="active" href="">Task</a></li>
                <li><a href="../../../../accounts/profile">User: {{ user.get_username }}</a></li>
                <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
            </ul>
        </div>

        <div class="main">
            <br/>
            <div class="table" style="text-align:center; margin:0 auto;">
                <table border="0" style="margin:0 auto;">
                    <tr>
                        <td><b>Name:</b></td>
                        <td>{{ task.name }}</td>
                    </tr>
                    <tr>
                        <td><b>Description:</b></td>
                        <td>{{ task.description }}</td>
                    </tr>
                    <tr>
                        <td><b>Status:</b></td>
                        <td>{{ task.status }}</td>
                    </tr>
                    <tr>
                        <td><b>Estimated:</b></td>
                        <td>{{ task.estimated }}</td>
                    </tr>
                    <tr>
                        <td><b>PBI:</b></td>
                        <td>{{ task.pbi }}</td>
                    </tr>
                    <tr>
                        <td><b>Owner:</b></td>
                        <td>{{ task.owner }}</td>
                    </tr>
                </table>
            </div>

            <div style="text-align:center;">
                <form>
                    <input type="button" value="Take ownership" onclick="location='{{ task.pk }}/owner/confirm'">
                    <input type="button" value="Finish" onclick="location='{{ task.pk }}/finish/confirm'">
                    <input type="button" value="Modify" onclick="location='{{ task.pk }}/modify'">
                    <input type="button" value="Delete" onclick="location='{{ task.pk }}/delete'">
                    <input type="button" value="Back" onclick="location='/project/{{ project.pk }}/sprintBacklog'">
                </form>
            </div>
        </div>

    {% else %}
        <div class="page-header">
            <h1>BackTrack</h1>
            <h2>Error: Not Logged in</h2>
        </div>
        <div style="text-align:center; margin:0 auto; padding: 20px 20px 20px 40px;">
            <p>Please login first. <a href="{% url 'login'%}">Click here.</a> </p>
        </div>
    {% endif %}

</body>
</html>